# --- R específicos ---
.Rhistory
.RData
.Ruserdata
.Rproj.user/

# --- Paquetes y Checks ---
/*.tar.gz
/*.Rcheck/
.temp/
doc/

# --- renv (Configuración Pro) ---
# Ignoramos las librerías instaladas (son pesadas y dependen de cada PC)
renv/library/
renv/python/
renv/staging/
renv/local/

# NO ignores renv/activate.R ni renv/settings.json (Git debe verlos)

# --- Otros ---
.DS_Store
.httr-oauth
.quarto/
